.blockButton {
    background-color: rgba(244, 249, 253, 1);
    border: 10px solid white;
    box-shadow: 0 0 10px 5px rgb(128, 128, 128, 0.5);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 220px;
    width: 340px;
    text-decoration: none;
}

.blockButton:hover {
    border: 10px solid rgb(236, 134, 67);
}

.blockTitle {
    color: rgb(236, 134, 67);
    font-weight: 700;
    font-size: 1.5rem;
    padding: 1rem 0.5rem 1rem 1rem;
}

.blockCurrent {
    color: rgb(156, 91, 48);;
    font-weight: 400;
    font-size: 1rem;
    padding: 1rem .1rem 1rem 1rem;
}

.name, .type {
    font-weight: 700;
    padding-left: 1rem;
    width: 100px;
    text-align: left;
    margin-bottom: 0.5rem;
}